<ng-container *ngIf="userIsLogged(); else notLogged">
  <div class="card-page">
    <div class="top-bar">
      <div class="left-section">
        <lib-left-buttons></lib-left-buttons>
      </div>
      <div class="right-section">
        <lib-profile-button></lib-profile-button>
      </div>
    </div>
    <shared-cocktail-card
    *ngIf="cocktailInfo.id"
    [cocktail]="cocktailInfo"
    [isFavorite]="isFavoriteCocktail"
    (favoriteToggled)="manageFavorites()"
    ></shared-cocktail-card>
  </div>
  <div class="history-carousel" *ngIf="history.length > 0">
    <h3 class="carousel-title">Recently Viewed</h3>
    <p-carousel
      [value]="history"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="3000"
    >
      <ng-template let-cocktail #item>
        <div class="history-item border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
          <div class="mb-4">
            <div class="relative mx-auto">
              <img
                [src]="cocktail.image"
                [alt]="cocktail.name"
                class="w-full rounded-xl"
              />
            </div>
          </div>
          <div class="text-center font-medium">{{ cocktail.name }}</div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

</ng-container>


<ng-template #notLogged>
  <div class="not-logged-message">
    <p-dialog class="dialog" [header]="dialogHeader" [(visible)]="visible" [style]="{width: 'width', minWidth: 'minWidth'}" [closable]="false">
      <p>Please log in to search for cocktails 🍸</p>
      <p-button label="Login" icon="pi pi-sign-in" (onClick)="redirectHome()"></p-button>
    </p-dialog>
  </div>
</ng-template>
