<div class="top-bar">
  <div class="left-section">
    <!-- home button -->
  </div>
  <div class="right-section">
    <!-- theme button -->
    <!-- language button -->
    <lib-profile-button></lib-profile-button>
  </div>
</div>
<div class="search-bar">
  <form [formGroup]="searchBar" class="search-form" (ngSubmit)="searchQuery()">
    <p-floatlabel variant="on" class="search-label">
      <p-iconfield iconPosition="left" class="input-wrapper">
        <p-inputicon>
          <i class="pi pi-globe"></i>
        </p-inputicon>
        <input pInputText formControlName="query" class="search-input" />
        <p-button type="submit" icon="pi pi-search" class="inline-button" severity="secondary"></p-button>
      </p-iconfield>
      <label for="on_label">Search your cocktail</label>
    </p-floatlabel>
  </form>
</div>
<div class="filters">
  <p-floatlabel variant="on" class="filter-label">
    <form [formGroup]="filterGroup" class="filter-form-horizontal">
      <p-multiselect [options]="filterOptions['ingredients']" formControlName="ingredients" [placeholder]="placeholders['ingredients']" optionLabel="name" [displaySelectedLabel]="false" />
      <p-multiselect [options]="filterOptions['glass']" formControlName="glass" [placeholder]="placeholders['glass']" optionLabel="name" [displaySelectedLabel]="false" />
      <p-multiselect [options]="filterOptions['type']" formControlName="type" [placeholder]="placeholders['type']" optionLabel="name" [displaySelectedLabel]="false" />
      <p-multiselect [options]="filterOptions['alcoholic']" formControlName="alcoholic" [placeholder]="placeholders['alcoholic']" optionLabel="name" [displaySelectedLabel]="false" />
    </form>
  </p-floatlabel>
  <div class="combined-selected" >
    <label style="font-weight: bold;">Selected Filters:</label>
    <div class="selected-filters">
      <p-chip *ngFor="let item of getAllSelectedFilters()" [label]="item" [removable]="true" (onRemove)="removeFilter(item)" class="span-filter" severity="info">
      </p-chip>
    </div>
  </div>
</div>
<div class="card-section">
  <!-- <div *ngFor="let card of cardResults"></div> -->
</div>
