<div class="top-nav">
  <div class="left-section"></div>
  <div class="center-section">
    <lib-search-bar></lib-search-bar>
  </div>
  <div class="right-section">
    <lib-profile-button></lib-profile-button>
  </div>
</div>
<div class="title-container">
  <h1 class="title">Trova il tuo cocktail perfetto per</h1>
</div>
<div class="motion-container">
  <h1 class="motion-title"> titolo che cambia </h1>
</div>

<div class="set-of-images">
  <div *ngFor="let img of images" class="images">
    <p-card class="p-m-2">
      <img [src]="img" alt="Cocktail Image" class="p-image" />
    </p-card>
  </div>
</div>
